src/tests/build/.*
src/tests/a.out
src/tests/test.dSYM/.*
src/tests/callgrind.out*
src/tests/cachegrind.out.*
src/tests/netreg_benchmarks*
src/tests/netreg_tests*
src/test
src/netReg.dSYM/*
src/Makevars
src/stamp-h1
src/**/*.o
src/**/*.a
src/**/*.so
src/a.out
src/test-suite.log
src/test.log
src/test.trs
**/Makefile
**/.deps
**/.dirstamp
src/tests/*.o
src/libnetreg.a
aclocal.m4
autom*
config.*
depcomp
install-sh
missing
test-driver
Makefile.in
glmnet
*.rda
.RData
src/*.o
src/*.so
.Rproj.user/*
netreg.Rcheck/*
netreg*tar.gz
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
dist
.idea/
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dictionaries
.idea/dynamic.xml
.idea/gradle.xml
.idea/libraries
.idea_modules/
.idea/mongoSettings.xml
.idea/sqlDataSources.xml
.idea/tasks.xml
.idea/uiDesigner.xml
.idea/workspace.xml
*.iml
*.ipr
*.iws
out/
test/
run_local.sh
.tmp
nbproject/private/
build/
nbbuild/
nbdist/
nbactions.xml
.Rproj.user
src/*.dll
inst/doc
